/* CSS for HomePage HTML file */

html{
    height: 100%;
}

body{
    background-color: beige;
    min-width: 100%;
}

.top-banner{
    background-color: aqua;
}

.nav-bar{
    background-color: blue;
}

.main-section{
    background-color: gray;
    min-height: 100vh;
}
.main-row{
    height: 100%;

}

.col-10{
    background-color: lightgray;
    margin: 1% 5%;
    border-style: solid;
    border-width: thick;
    border-color: black;
    height: 100vh;
}

.footer{
    background-color: coral;
    width: 100%;
    /* bottom: 0; */
}