/* CSS for HomePage HTML file */

html{
    height: 100%;
}

body{
    background-color: beige;
    min-width: 100%;
    min-height: inherit;
    font-family: "Verdana", Tahoma, sans-serif;
}

.btn{
    cursor: pointer;
}

.top-banner{
    background-color: darksalmon;
}

.navRow{
    justify-content: inherit;
    background-color: cornflowerblue;
}
nav{
    width: 100%;
}
.form-inline{
    float: right;
}

.main-section{
    background-color: gray;
    min-height: 100vh;
}
.main-row{
    height: 100%;
}
.col-10{
    background-color: burlywood;
    margin: 1% 5% ;
    border-style: solid;
    border-width: thick;
    border-color: black;
    height: 100vh;
}

.footer{
    background-color: coral;
    width: 100%;
}